{% extends "base.html" %}


{% block 'content' %}
    <body class="text-center">
        
        {% if user.is_authenticated %}
            <p>
                You are already logged in: <a href="{% url 'logout' %}">Log out</a>.
            </p>
        {% else %}
            <div class="jumbotron">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>

                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        {% endif %}
    </body>
{% endblock %}

