{% extends "base.html" %}

{% block 'content' %}
<div class="container">
    <h1>Search among your files</h1>

    <p>
        Here you can search your private files.
    </p>

    <form method="POST" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-secondary" value="Search Keywords" />
    </form>

    {% if search %}
        {% for file in files %}
            <a href="/media/{{ file }}">{{ file }}</a>
        {% endfor %}
    {% endif %}

</div>
    
{% endblock %}
